{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 100,
  "tabWidth": 2,

  "htmlWhitespaceSensitivity": "ignore",
  "proseWrap": "always",
  "bracketSameLine": false,
  "singleAttributePerLine": true
}
